body{
    background-color: #1863A0;
}

.body{
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    padding: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;

    border-radius: 10px;
    text-align: center;
    margin: 150px auto;

    & button{
        width: 95%;
        height: 30px;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        background-color: #1863A0;
        cursor: pointer;
    }

    & button:hover{
        background-color: #428ecc;
    }

    & input{
        width: 90%;
        height: 30px;
        margin: 10px;
        padding-left: 10px;
        border: 1px #1863a0 solid;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white
    }

}