:root{
    --bg-color: #a01d18;
    --width-all: 200px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.bodyLogin{
    min-width: 600px;

    @media(max-width: 590px){
        min-width: 500px;
    }
    @media(max-width: 490px){
        min-width: 400px;
    }
    @media(max-width: 390px){
        min-width: 300px;
    }

    min-height: 300px;
    background-color: var(--bg-color);
    border-radius: 25px;
    text-align: center;
}

.buttonLogin{
    max-width: 500px;
    min-width: var(--width-all);
    height: 30px;
    margin: 0 auto;
    border: none;
}

.inputLogin{
    max-width: 500px;
    min-width: var(--width-all);
    height: 30px;
}