.body{
    background-color: var(--bg-filter);
    height: 100vh;
    width: 40%;
    max-width: 350px;
    min-width: 150px;
    text-align: center;
    --button-min-width: 95%;
    --button-height: 50px;
    --bg-filter: #0d528a;
    
    & h1{
        font-size: calc(45px - 100%);
        margin: 15px;
        font-weight: bold;
        color: #ffffff;
    }

    & .buttonAtual{
        border: none;
        border-radius: 10px;
        height: var(--button-height);
        min-width: var(--button-min-width);
        margin-top: 15px;
        font-size: 18px;
        background-color: var(--Act-color);
        color: #ffffff;
    }

    & .buttonOtherPage{
        border: none;
        border-radius: 10px;
        height: var(--button-height);
        min-width: var(--button-min-width);
        margin-top: 15px;
        font-size: 18px;
        background-color: var(--bg-filter);
        cursor: pointer;
    }

    & .buttonOtherPage:hover{
        background-color: var(--Act-color);
        color: white;
    }

}