:root{
    --tamanho-height: 35px;
    --bg-color: #a01d18;
    --Act-color: #6b0d0d;
}

.body{
    background-color: var(--bg-color);
    height: var(--tamanho-height);
    width: 100%;
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.buttonAtual{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-top: none;
    height: var(--tamanho-height);
    width: 100px;
    background-color: var(--Act-color);
    color: white;
}

.buttonOtherPage{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-top: none;
    height: var(--tamanho-height);
    width: 100px;
    background-color: var(--bg-color);
}

.buttonOtherPage:hover{
    background-color: var(--Act-color);
}