.EscopoRelatorio h4{ 
    padding-left: 55vw;
    font-size:larger;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.EscopoRelatorio p{
    padding-left: 55vw;
    font-size:small;
    width: 90%;
}

.img{
    
}