.body{
    background-color: #ffffff;
    height: 75px;
    width: 100%;
    border: 1px solid black;
    align-content: center;

    & h1{
        padding-left: 20px;
        color: #0b4779;
    }

}