
.Body{
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #1863a0;

    & .basePesquisa{
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding-top: 35px;
        padding-left: 5%;
        padding-right: 10%;

        & input{
            height: 30px;
            width: 85%;
            max-width: 100%;
            border: none;
            border-radius: 5px;
            padding-left: 10px;
        }

        & .buttonCadastro{
            height: 33px;
            width: 100px;
            border-radius: 5px;
            border: none;
            background-color: #6fd17c;
            cursor: pointer;
        }

        .buttonCadastro:hover{
            background-color: #97eea2;
        }

    }

}

.icon{
    font-size: 25px;
}