
.Body{
    min-width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #1863a0;
    border: 1px black solid;

    & .basePesquisa{
        width: 100%;
        padding-top: 50px;
        display: flex;
        gap: 10px;

        & input{
            height: 30px;
            width: 70%;
            max-width: 90%;
            border: 1px black solid;
            border-radius: 5px;
        }

        & button{
            margin-left: 10%;
            border-radius: 100%;
            border: 1px black solid;
            background-color: #ffffff;
            cursor: pointer;
        }
        & button:hover{
            background-color: #b4b4b4;
        }

    }

    & .baseAlteracao{
        
    }

}

.baseAlteracao{
    width: 75%;
    margin-top: 100px;
    display: flex;
    flex-flow: row-reverse;
    gap: 5px;
    margin: 10px auto;
}

.inputAlteração{
    height: 30px;
    max-width: 50px;
    border: 1px black solid;
    border-radius: 5px;
}

.buttonCadastro{
    height: 34px;
    max-width: 100%;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px black solid;
    background-color: #6fd17c;
    cursor: pointer;
}

.buttonCadastro:hover{
    background-color: #3c8d47;
}

.icon{
    font-size: 25px;
}

.pesquisa{
    width: 100%;
    display: flex;
    gap: 10px;
}

.buttonIcon{
    border: none;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: transparent;
    cursor: pointer;
}

.buttonIcon:hover{
    background-color: #277497
}