
.Body{
    min-width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #1863a0;
    border: 1px black solid;

    & .basePesquisa{
        width: 100%;
        padding-top: 50px;
        display: flex;
        gap: 10px;

        & input{
            height: 30px;
            width: 70%;
            max-width: 90%;
            border: 1px black solid;
            border-radius: 5px;
            padding-left: 10px;
        }

        & .buttonPesquisa{
            margin-left: 5%;
            border-radius: 100%;
            border: 1px black solid;
            background-color: #ffffff;
            cursor: pointer;
        }
        & button:hover{
            background-color: #b4b4b4;
        }

        & .buttonCadastro{
            height: 34px;
            max-width: 100%;
            border-radius: 5px;
            border: 1px black solid;
            background-color: #6fd17c;
            cursor: pointer;
        }

        .buttonCadastro:hover{
            background-color: #3c8d47;
        }

    }

    & .baseAlteracao{
        width: 75%;
        margin-top: 100px;
        display: flex;
        flex-flow: row-reverse;
        gap: 5px;
        margin: 10px auto;

        & input{
            height: 30px;
            max-width: 50px;
            border: 1px black solid;
            border-radius: 5px;
        }

    }

}

.icon{
    font-size: 25px;
}