/* Reset básico para evitar espaçamentos indesejados */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte padrão do body */
body {
  font-family: 'Alexandria', sans-serif;
}

/* Estilos de fontes personalizadas */
.alexandria {
  font-family: 'Alexandria', sans-serif;
  font-weight: 600;
}

.alexandria2 {
  font-family: 'Alexandria', sans-serif;
  font-weight: 400;
}

.glory {
  font-family: 'Glory', sans-serif;
  font-weight: 600;
  font-size: 228px;
}

/* Negrito */
.bold {
  font-weight: bold;
}

/* Destaque em azul */
.destaque {
  color: #3858FF;
}

/* Temas */
body.light-mode {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Botão de alternância de tema */
.theme-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem auto;
  padding: 5px;
  position: relative;
  z-index: 999;
}



/* Navbar fixa no topo */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* altura da navbar */
  z-index: 1000;
}

/* Container principal */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding-top: 60px; /* compensação para navbar fixa */
}
