.Titulo{
    font-size: 40px;
}

.botaoCadastro:hover {
  text-decoration: underline;
}

/* .Titulo:hover{
    transform: translateY(-8px) scale(1.03);
} */

/* .button{
    transition: transform 0.2s;
}
.button:hover{
    transform: translateY(-8px) scale(1.03);
} */

/* .exemplo {
  transition: transform 0.2s;
}

.exemplo:hover {
  transform: translateY(-8px) scale(1.03);
} */