.NavBar {
}

@media (max-width: 700px) {
    .NavBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;

        & .FullH1 {
            display: none;
        }

        .DivButton {
            margin-top: 15px;
            margin-bottom: 15px;

            & .ButtonGroup {
                color: var(--Txt-Color);
                border: none;
                border-radius: 0;
                text-align: center;
            }

            & .ButtonGroup:hover {
                text-decoration: underline;
            }
        }

        & .FullBaseButtons {
            display: none;
        }

        & .MinBaseButtons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-top: 10px;

            div {
                display: flex;
                gap: 15px;
            }

            h1 {
                color: white;
                font-size: 35px;
            }

            & .Button {
                background-color: #3858FF;
                border: none;
                color: var(--Txt-Color);
            }

            & .Button:hover {
                background-color: rgba(0, 157, 221, 0.6); 
            }
        }
    }
}

.PlanoCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .BaseCards {
        background-color: transparent;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        width: fit-content;
        display: flex;
        align-items: center;
        max-width: 95%;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        scrollbar-color: #4b4b4b transparent;

        & .Card {
            width: 250px;
            margin: 10px;
            border-radius: 5px;
            padding: 10px;
            height: auto;
            background-color: white;

            & h1 {
                text-align: center;
                font-size: 30px;
            }

            & p {
                font-size: 15px;
                margin-left: 25px;
            }

            & .BaseButton {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & .Button {
                    width: 100%;
                    background-color: #3858FF;
                    border: none;
                }

                & .Button:hover {
                    background-color: rgba(0, 157, 221, 0.7); /* Corrigido para rgba */
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .PlanoCard {
        display: flex;
        flex-direction: column;

        & .BaseCards {
            justify-content: center;
            flex-wrap: wrap;

            & .Card {
                width: 100%;

                & p {
                    margin-left: 55px;
                }
            }
        }
    }
}

.DescOportunidade {
    background-color: #4b4b4b transparent;
    min-width: 340px;
    max-width: 450px;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    color: black;

    & p {
        width: 90%;
        text-align: justify;
    }

    & a {
        color: white;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    & .DivBotao {
        display: flex;
        align-items: center;
        gap: 10px;

        & .BotaoEntrada {
            background-color: #ffffff;
            color: black;
            white-space: nowrap;
            border: none;
            border-radius: 20px;
        }
    }
}


@media (min-width: 768px) {
    .DescOportunidade {
        margin-left: 25px;
    }
}

